.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: minmax(min-content,10px) 6fr;
    grid-template-areas: 
    "leftsidebar nav rightsidebar"
    "leftsidebar maincontent rightsidebar";

}


.main-header {
    grid-area: header;
    display: flex;
    justify-content: center; 
    align-items: center;



}

.main-nav {
    grid-area: nav;

}


.main-content {
    grid-area: maincontent;
    display: flex; 
    margin: 0;

}

.main-leftsidebar {
    grid-area: leftsidebar;
    display: flex;
  
}

.main-rightsidebar {
    grid-area: rightsidebar;
  
}


