#comment-creator {
    margin-right: 10px;

}



#comment-creationTime {
    margin-right: 10px;
}


#comment-edit-button {
    margin: 5px;

}


#comment-delete-button {
    margin: 5px;
}


.comment-container {
    margin-top: 20px;
}

.input{
    background-color: #f3a316;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}