.navbar {
    grid-area: nav;
    display: flex;
    border: none;
    justify-content: center; 
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    background-color: #f3a316;

}

.link {
    color:white;
}



.nav-button{
    background-color: #f3a316; /* Green */
    border: none;
    color: white;
    padding: 5px 40px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}




.nav-button:hover {
    background-color: rgb(236, 129, 28);
}

p{
    padding-right: 20px;

}