.navbar {
    grid-area: nav;
    display: flex;
    border: none;
    justify-content: center; 
    align-items: center;
    margin: 0;
    background-color: #f3a316;

}

.link {
    color:white;
}

.point{
    cursor: pointer;
}


.nav-button{
    background-color: #f3a316; 
    border: none;
    color: white;
    padding: 5px 40px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.navbar-custom{
    background: #f3a316
}

/* .down{
    background:#f3a316;
} */
/* 
.more-button{
    background-color:chocolate;
} */
@media screen and (max-width:900px) {
    .nav-button{
        background-color: #f3a316; 
        border: none;
        color: white;
        padding: 5px 5px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
    }

    /* p{
        font-size: 12px;
    } */

}



.nav-button:hover {
    background-color: rgb(236, 129, 28);
}

p{
    padding-right: 20px;
    float:left;

}

#right{
    float:right;
}

#right2{
    float:right;
}